@charset "UTF-8";

/*Общие стили*/

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #0f2135;
  width: 100%;
  margin: 0 auto;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
  color: #0f2135;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

div {
  font-family: "Montserrat", sans-serif;
  color: #0f2135;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #0f2135;
  text-decoration: none;
  cursor: pointer;
}

.ov-hid {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 2;
}

.container-header {
  padding: 14px 30px;
}

.container-sidebar {
  padding: 0 30px;
}

.container-section {
  padding: 75px 30px;
}

/*Кнопки*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-pink {
  background-color: #e43898;
  transition: 0.3s;
}

.btn-pink:hover {
  background-color: #9f0e60;
  transition: 0.3s;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #e43898;
  color: #e43898;
  transition: 0.3s;
}

.btn-transparent:hover {
  background-color: #9f0e60;
  border: 1px solid #9f0e60;
  color: #fff;
  transition: 0.3s;
}

.btn-header {
  display: none;
  width: 146px;
  height: 42px;
}

.btn-sidebar {
  font-size: 22px;
  width: 216px;
  height: 65px;
  border-radius: 12px;
}

.btn-intro {
  font-size: 20px;
  width: 225px;
  height: 58px;
  margin: 0 auto;
}

.btn-yes {
  width: 183px;
  height: 44px;
}

.btn-no {
  width: 137px;
  height: 44px;
}

/*Инпут*/

.input {
  font-size: 16px;
  color: #0f2135;
  width: 100%;
  height: 44px;
  background-color: #fff;
  border: 1px solid #7f8d9c;
  border-radius: 8px;
  outline: none;
  padding: 0 20px;
  transition: 0.3s;
  margin-bottom: 27px;
}

.input:hover {
  border: 1px solid #e43898;
  transition: 0.3s;
}

.input:focus {
  border: 1px solid #e43898;
  transition: 0.3s;
}

.input::-webkit-input-placeholder {
  color: #7f8d9c;
}

.input::-moz-placeholder {
  color: #7f8d9c;
}

.input:-ms-input-placeholder {
  color: #7f8d9c;
}

.input::-ms-input-placeholder {
  color: #7f8d9c;
}

.input::placeholder {
  color: #7f8d9c;
}

.input:valid {
  border: 1px solid #e43898;
  transition: 0.3s;
}

/*checkbox*/

.checkbox {
  position: relative;
  justify-self: start;
  display: block;
  margin: 0 0 32px;
}

.checkbox input {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0;
}

.checkbox input:checked + .checkbox_text:before {
  background-color: #e43898;
  border: 1px solid #e43898;
  transition: all 0.5s;
}

.checkbox input:checked + .checkbox_text:after {
  opacity: 1;
  transition: all 0.5s;
}

.checkbox input:hover + .checkbox_text:before {
  border: 1px solid #e43898;
  transition: all 0.5s;
}

.checkbox_text {
  position: relative;
  display: flex;
  padding-left: 32px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.checkbox_text:before {
  content: '';
  position: absolute;
  border: 1px solid #7f8d9c;
  border-radius: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background-color: transparent;
  transition: all 0.5s;
}

.checkbox_text:after {
  content: '';
  position: absolute;
  background: url("../../img/accept.svg") no-repeat;
  background-size: contain;
  background-position: center;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 2px;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.5s;
}

/*Header*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #0f2135;
  box-shadow: 0 2px 6px 0 rgba(15, 33, 53, 0.2);
  z-index: 50;
}

.header.scrolled .container {
  grid-template-columns: 34px auto;
}

.header.scrolled .header_logo {
  height: 0;
}

.header.scrolled .header_logo_link {
  height: 0;
}

.header.scrolled .header_logo_img {
  width: 0;
  height: 0;
}

.header.scrolled .header_logo.scrolled {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.header.scrolled .header_logo.scrolled .header_logo_link {
  height: 42px;
}

.header.scrolled .header_logo.scrolled .header_logo_img {
  width: 34px;
  height: 42px;
}

.header .container {
  display: grid;
  grid-template-columns: 110px auto;
  grid-column-gap: 50px;
  align-items: center;
}

.header_logo {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.header_logo_wrapper {
  display: flex;
}

.header_logo_link {
  display: block;
  height: 42px;
  padding: 0;
  margin: 0;
}

.header_logo_img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  width: 110px;
  height: 42px;
  transition: all 0.5s;
}

.header_logo_img:hover {
  transform: scale(0.8);
  transition: all 0.5s;
}

.header_logo.scrolled {
  height: 0;
}

.header_logo.scrolled .header_logo_img {
  width: 0;
  height: 0;
}

.header_nav {
  display: none;
}

.header_hamburger {
  justify-self: end;
  display: block;
  align-self: center;
  background: url("../../img/menu.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 21px;
  transition: 0.3s;
}

.header_hamburger:hover {
  background: url("../../img/menu-hover.svg") no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  cursor: pointer;
}

.header_hamburger.active {
  display: block;
  align-self: center;
  background: url("../../img/cross.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.header_hamburger.active:hover {
  background: url("../../img/cross-hover.svg") no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  cursor: pointer;
}

/*Выпадающее меню*/

.sidebar {
  position: fixed;
  width: 100%;
  height: calc(100vh - 70px);
  top: 70px;
  background-color: #0f2135;
  box-shadow: 0 2px 6px 0 rgba(15, 33, 53, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 50;
  transform: translateX(-120%);
  transition: 1s;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 0;
}

.sidebar_nav_link {
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
  margin-bottom: 50px;
}

.sidebar_nav_link:last-child {
  margin-bottom: 0;
}

.sidebar_nav_link:hover {
  color: #e43898;
  transition: 0.3s;
}

.sidebar.active {
  transform: translateX(0);
  transition: 1s;
}

/*Кейсы*/

.article {
  position: relative;
  background-color: #f2f4f5;
}

.article_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.article .swiper-container {
  width: 960px;
  padding: 0 5px 10px;
  margin: 0 -5px;
}

.article .swiper-button-box {
  position: absolute;
  width: 95px;
  height: 11px;
  top: 95px;
  right: 30px;
}

.article .swiper-button-next,
.article .swiper-button-prev {
  display: block;
  outline: none;
  top: 17px;
}

.article .swiper-button-next {
  background: url("../../img/arrow.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 10px;
  right: 0;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.article .swiper-button-next:hover {
  background: url("../../img/arrow-hover.svg") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.3s;
}

.article .swiper-button-prev {
  background: url("../../img/arrow.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 10px;
  left: 0;
  opacity: 0.8;
  transform: rotate(180deg);
  transition: opacity 0.3s;
}

.article .swiper-button-prev:hover {
  background: url("../../img/arrow-hover.svg") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.3s;
}

.article_box {
  position: relative;
  overflow: hidden;
  height: 397px;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(15, 33, 53, 0.11);
  background-color: #ffffff;
}

.article_box.text {
  padding: 20px 24px;
}

.article_box.four .article_description {
  -webkit-line-clamp: 8;
}

.article_box.two .article_description {
  -webkit-line-clamp: 11;
}

.article_box:hover .article_img {
  transform: scale(1.15);
  transition: all 0.6s;
}

.article_img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  z-index: 1;
}

.article_img_wrapper {
  position: relative;
  overflow: hidden;
  height: 163px;
}

.article_img_link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.article_info {
  height: 234px;
  padding: 20px 24px;
}

.article_data {
  font-size: 14px;
  color: #7f8d9c;
}

.article_name {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  max-height: 120px;
  overflow: hidden;
  margin: 10px 0;
  transition: 0.3s;
}

.article_name:hover {
  color: #e43898;
  transition: 0.3s;
}

.article_description {
  font-size: 14px;
  line-height: 1.43em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.article_more {
  position: absolute;
  display: block;
  font-size: 14px;
  line-height: 1.7em;
  font-weight: 500;
  color: #7f8d9c;
  bottom: 20px;
  width: calc(100% - 48px);
  transition: 0.5s;
}

.article_more:hover {
  color: #e43898;
  transition: 0.5s;
}

.article_more:hover:after {
  background: url("../../img/arrow-hover.svg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 10px;
  width: 60px;
  right: 0;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.article_more:after {
  content: '';
  position: absolute;
  background: url("../../img/arrow.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 10px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}

/*Первый экран*/

.intro {
  position: relative;
  height: 436px;
  overflow: hidden;
  background: url("../../img/intro.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.intro .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro_title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  margin: 0 auto;
}

.intro_description {
  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
  max-width: 340px;
  margin: 30px auto 60px;
}

/*Подписка*/

.subscription {
  position: relative;
}

.subscription_title {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.45;
}

.subscription_description {
  font-size: 14px;
  line-height: 1.43;
  color: #7f8d9c;
  margin: 20px 0 30px;
}

.subscription_link {
  display: inline;
  color: #e43898;
  margin: 0 5px;
  transition: 0.3s;
}

.subscription_link:hover {
  color: #9f0e60;
  transition: 0.3s;
}

.subscription_row {
  display: grid;
  grid-template-columns: 183px auto;
  grid-column-gap: 17px;
  justify-items: start;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  /*Общие стили (min-width: 1000px)*/

  main {
    margin-top: 100px;
  }

  .container-header {
    padding: 14px 50px;
  }

  .container-sidebar {
    padding: 0 50px;
  }

  .container-section {
    padding: 75px 100px;
  }

  /*Кнопки (min-width: 1000px)*/

  .btn-header {
    display: flex;
  }

  /*Header (min-width: 1000px)*/

  .header {
    position: fixed;
    width: 100%;
    background-color: #0f2135;
    z-index: 50;
  }

  .header.scrolled .container {
    grid-template-columns: 34px auto 146px;
    padding: 14px 50px;
  }

  .header.scrolled .btn-header {
    display: flex;
  }

  .header.scrolled .header_nav {
    justify-self: start;
  }

  .header.scrolled .header_nav_link:before {
    bottom: -27px;
  }

  .header .container {
    grid-template-columns: 140px auto;
    padding: 23px 50px;
  }

  .header .btn-header {
    display: none;
  }

  .header_logo_link {
    height: 54px;
  }

  .header_logo_img {
    width: 140px;
    height: 54px;
  }

  .header_nav {
    display: flex;
    align-items: center;
    justify-self: end;
  }

  .header_nav_link {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-right: 54px;
    transition: 0.3s;
  }

  .header_nav_link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #e43898;
    bottom: -42px;
    transition: 0.3s;
    opacity: 0;
  }

  .header_nav_link:last-child {
    margin-right: 0;
  }

  .header_nav_link:hover {
    transition: 0.3s;
  }

  .header_nav_link:hover:before {
    opacity: 1;
    transition: 0.3s;
  }

  .header_hamburger {
    display: none;
  }

  .header_hamburger.active {
    display: none;
  }

  /*Выпадающее меню (min-width: 1000px)*/

  .sidebar {
    display: none;
  }

  /*Кейсы (min-width: 1000px)*/

  .article .swiper-container {
    width: 100%;
    overflow: visible;
    margin: 0;
    padding: 0;
  }

  .article .swiper-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: calc(33.33% - 16.66px) calc(33.33% - 16.66px) calc(33.33% - 16.66px);
    grid-column-gap: 25px;
    justify-items: center;
    align-items: center;
  }

  .article .swiper-button-box {
    display: none;
  }

  .article_box.four .article_description {
    -webkit-line-clamp: 7;
  }

  .article_box.two .article_description {
    -webkit-line-clamp: 10;
  }

  .article_more:hover:after {
    width: 50px;
    right: 0;
  }

  .article_more:after {
    width: 40px;
    right: 10px;
  }

  /*Первый экран (min-width: 1000px)*/

  .intro_title {
    font-size: 42px;
  }

  .intro_description {
    font-size: 28px;
    max-width: 650px;
    margin: 30px auto;
  }

  /*Подписка (min-width: 1000px)*/

  .subscription .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
}

@media screen and (min-width: 1366px) {
  /*Общие стили (min-width: 1366px)*/

  .container {
    max-width: 1366px;
  }

  /*Кейсы (min-width: 1366px)*/

  .article .swiper-wrapper {
    grid-column-gap: 55px;
  }

  /*Подписка (min-width: 1366px)*/

  .subscription .container {
    grid-column-gap: 120px;
  }
}